<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juanp.android_jppf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Android_JPPF"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Elementos" />
        <activity android:name=".Editar" />
        <activity android:name=".Nueva"></activity>
    </application>

</manifest>